.address {
  margin-top: 20px;
}

.address__list {
  @extend %list;
  font-style: normal;
  line-height: 1.71;

  @include fonts(null, 400, 14px, null);
}

.address__item {
  margin-bottom: 9px;
  &:last-child {
  margin-bottom: 0;
}
}

.address__link {
  color: var(--white-color);
  line-height: calc(16 / 14);
  font-style: normal;

  @include fonts(null, 400, 14px, 0.03em);
}

.address__email,
.address__tel {
  color: var(--footer-white-color);
  font-style: normal;
}