.contacts-form {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.contacts-form__name {
  color: var(--title-text-color);
  line-height: calc(14 / 12);
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;

  @include fonts(null, 400, 12px, 0.01em);
}

.contacts-form__field {
  position: relative;
  display: block;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.contacts-form__data {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include padding-w(11px, 42px);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.contacts-form__icon {
  position: absolute;
  fill: var(--black-color);
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include padding-h(12px, 12px);
  @include padding-w(16px, 16px);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    line-height: calc(14 / 12);
    color: rgba(117, 117, 117, 0.5);

    @include fonts(null, null, 12px, 0.01em);
  }

  &:focus::placeholder {
    color: var(--accent-color);
  }
}

.contacts-form__accept {
  display: flex;
  margin-bottom: 30px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.contacts-form__checkbox:checked
  + .contacts-form__icon-checkbox
  .contacts-form__accept-yes {
  opacity: 0;
}

.contacts-form__checkbox:checked
  + .contacts-form__icon-checkbox
  .contacts-form__accept-no {
  opacity: 1;
}

.contacts-form-icon-accept,
.contacts-form-icon-unaccept {
  transition: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form__accept-text {
  line-height: calc(24 / 14);
  color: var(--title-text-color);
  margin-left: 7px;
  user-select: none;

  @include fonts(null, 400, 14px, 0.03em);
}

.contacts-form__link {
  line-height: calc(24 / 14);
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 7px;

  @include fonts(null, 400, 14px, 0.03em);
}

.contacts-form__data:focus + .contacts-form__icon {
  fill: var(--accent-color);
}
