.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.navigation__item--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0, 1px);
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 60px;
}

.navigation__item {
  @media screen and (min-width: 768px) {
   justify-content: center;
   
  }
  @media screen and (min-width: 1200px) {
   margin-bottom: 0;
  }
}

.navigation__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.navigation__link--current {
    position: relative;
    color: var(--accent-color);
  }

.navigation__links a {
  display: flex;
  align-items: center;

  color: var(--title-text-color);

  line-height: calc(14 / 12);

  @include fonts(inherit, 500, 12px, 0.02em);
  

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__pages {
  @extend %list;
  display: none;
  
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }
}


.navigation__pages .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__pages a {
  display: block;

  color: var(--primary-text-color);

  line-height: calc(16/ 14);

  @include fonts(inherit, 500, 14px, 0.02em);
  @include padding-h(32px, 32px);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__link-icon {
  margin-right: 10px;
}

.navigation__links {
  @extend %list;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
  }
}

.navigation__icon {
  display: inline-flex;
  fill: var(--links-color);
  margin-right: 10px;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
