:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --main-color: #f5f5f5;
  --white-color: #ffffff;
  --background-button-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --black-color: #000000;
  --footer-white-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --line-color: #ececec;
  --background-button-color-sec: #188ce8;
  --background-color-our-team: #f5f4fa;
  --background-hero-color: #c4c4c4;
  --links-color: #afb1b8;
}