.footer {
  background: var(--background-footer-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @include padding-h(60px, 60px);
}

.footer-container {
  display: flex;
  // align-items: baseline;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__information {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
  }
}

.footer__links {
  text-align: center;

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.footer__social-links {
  color: var(--white-color);

  display: flex;
  flex-direction: column;
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 10px;
  }
}

.footer__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: calc(16 / 14);
  color: var(--white-color);
  text-align: center;

  @include fonts(null, 700, 14px, 0.03em);

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

// .footer__title {
//    display: block;
//    @media screen and (min-width: 1200px) {
//   text-align: left;
// }
// }

.footer__subscription {
  margin-top: 60px;
  align-items: center;

  @media screen and (min-width: 1200px) {
  margin-top: 0;
margin-left: 0;

}
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
    &input::placeholder {
    color: var(--footer-white-color);
}
@media screen and (min-width: 1200px) {
  flex-direction: row;
}
}

.footer__email {
  display: inline-block;
  // height: 50px;
  width: 100%;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-footer-color);
  color: var(--white-color);
  transition-property: box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include padding-w(16px, 16px);
  @include padding-h(15px, 15px);

  // padding-top: 15px;
  //   padding-right: 16px;
  //   padding-bottom: 15px;
  //   padding-left: 16px;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &::placeholder {
    font-weight: 400;
  }

  @media screen and (min-width: 1200px) {
  width: 358px;
}
}

.footer__button {
  position: relative;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.15);
  margin-left: 12px;
  border-color: transparent;
  display: flex;
  align-items: center;
  margin-top: 20px;
   justify-content: center;

   @media screen and (min-width: 1200px) {
  margin-top: 0;
}
}

.footer__button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border-color: transparent;
}
